body {
  padding-top: 0 !important;
  background: #fc9;
  color: #000;
}
.row,
.container-fluid {
  padding: 0;
  margin: 0;
}
.portfolio-item {
  margin-bottom: 25px;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
footer {
  margin: 50px 0;
}
.navbar {
  background: #f36f0c;
}
.navbar-nav a {
  color: #fff !important;
  margin-top: 12px;
}
.error {
  color: red;
  font-size: 11px;
  font-weight: normal;
}
.dropdown-menu {
  background: #f1f1f1;
}
.dropdown-menu li a {
  color: #000 !important;
  padding: 5px;
  margin-top: 0;
}
.dashboard-box {
  margin-bottom: 24px;
  padding: 20px;
  box-sizing: border-box;
}
.dashbozrd-box-inner {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: #fff;
}
.bottom-border,
.bottom-border {
  border-bottom: 1px solid #000;
}
.legend {
  display: block;
  text-align: left;
  border-bottom: solid 1px #ddd;
  color: #444;
  font-weight: 400;
  line-height: 1.583em;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
  font-size: 1.33em;
}
.checkbox-container {
  position: relative;
  padding-left: 18px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background-color: #eee;
}
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 6px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.results h1,
h2,
h3,
h4,
h5,
.panel-chart p {
  color: #000;
  text-shadow: 2px 1px gold;
}
.panel-success {
  border: 2px solid #008a00;
}
.panel-success .panel-heading,
.panel-success .panel-footer {
  background: #008a00;
  color: #fff;
  border-radius: 0 !important;
  padding: 0;
  font-weight: 700;
  font-style: italic;
}
.no-padding {
  padding: 5px 0 !important;
}
.panel {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-info {
  border: 2px solid #2196f3;
}
.panel-info .panel-heading {
  background: #2196f3;
  color: #fff;
}
.panel-danger {
  border: 2px solid red;
}
.panel-danger .panel-heading {
  background: red;
}
.refresh-button {
  position: absolute;
  transition: opacity 0.6s ease-in-out;
  z-index: 999;
  right: 20px;
  bottom: 20px;
}
.like_unlike {
  cursor: pointer !important;
}
.bg-grey {
  background: #e1e1e1 !important;
}
.col-sm-12,
.col-md-12,
.col-xs-12 {
  padding-right: 0;
  padding-left: 0;
}
.chart-11,
.chart-22,
.chart-33,
.chart-44,
.chart-55,
.chart-66,
.chart-77,
.chart-88,
.chart-99,
.chart-00,
.chart-05,
.chart-50,
.chart-16,
.chart-61,
.chart-27,
.chart-72,
.chart-38,
.chart-83,
.chart-49,
.chart-94,
.chart-\*\*,
.chart- {
  color: red !important;
}
.dotted-border {
  border: 1px dotted #000;
  width: 100px;
  padding: 0 5px 0 5px;
  margin-top: 2px;
}
.bg-color {
  background: #ff0;
}
.logo {
  padding-top: 0;
  color: #fff !important;
  border-radius: 38px;
}
.satta-matka-block_strtF {
  background-color: #140075;
  border-radius: 5px;
  font-size: 19px;
  padding: 10px;
  text-align: center;
  border: #fff solid 2px;
  font-style: italic;
  font-family: Montserrat, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.chart-bold {
  font-size: 24px !important;
}
@media (max-width: 767px) {
  .logo {
    width: 100%;
  }
}
.bg-grey {
  background: #e1e1e1 !important;
}
.panel {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  /* font-style: italic; */
  font-weight: 700;
}
.panel-body {
  padding: 0;
}
@media (max-width: 480px) {
  .chart-bold {
    font-size: 18px !important;
  }
  .panel-chart h3 {
    font-size: 8px;
    padding: 0;
    margin: 0;
  }
  .panel-chart h2,
  p {
    font-size: 10px;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
  table th {
    font-size: 11px;
    font-weight: bold;
  }
}
table {
  border-collapse: collapse;
}
.panel-chart.chart-table p {
  text-shadow: none;
}
.chart-bold {
  font-size: 12px;
}
.panel {
  background-color: #fff0;
}
html {
  overflow-x: hidden;
}
body {
  background-color: #fc9;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-style: normal !important;
}
table
{
  border: 1px solid #03a9f4a8 !important;
}
tbody tr td:nth-child(2),
tbody tr td:nth-child(5),
tbody tr td:nth-child(8),
tbody tr td:nth-child(11),
tbody tr td:nth-child(14),
tbody tr td:nth-child(17),
tbody tr td:nth-child(20),
tbody tr td:nth-child(23) {
  border-right: 0 solid red !important;
}
tbody tr td:nth-child(3),
tbody tr td:nth-child(6),
tbody tr td:nth-child(9),
tbody tr td:nth-child(12),
tbody tr td:nth-child(15),
tbody tr td:nth-child(18),
tbody tr td:nth-child(21),
tbody tr td:nth-child(24),
tbody tr td:nth-child(27) {
  border-left: 0 solid red !important;
  border-right: 0 solid red !important;
}
tbody tr td:nth-child(4),
tbody tr td:nth-child(7),
tbody tr td:nth-child(10),
tbody tr td:nth-child(13),
tbody tr td:nth-child(16),
tbody tr td:nth-child(19),
tbody tr td:nth-child(22),
tbody tr td:nth-child(25),
tbody tr td:nth-child(28) {
  border-left: 0 solid red !important;
}
.top-header {
  text-align: center;
}
.container-fluid {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-right: auto !important;
  margin-left: auto !important;
}
.B1 {
  border: 3px solid #ff006c !important;
  border-radius: 10px 0 0 0 !important;
  margin: 1px auto;
  padding: 3px 2px !important;
}
.button2 {
  background-color: #a0d5ff !important;
  color: #220c82 !important;
  padding: 10px 30px !important;
  font-size: 16px !important;
  margin: 20px auto !important;
  border-radius: 10px !important;
  border: 2px solid #0000005c !important;
  font-weight: 800 !important;
  text-shadow: 1px 1px #00bcd4 !important;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19) !important;
  display: inline-block !important;
  transition: all 0.3s !important;
}
.button2:hover {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 8px 0 rgba(0, 0, 0, 0.3) !important;
  color: #220c82 !important;
  text-shadow: 0 0 0 #000 !important;
  text-decoration: none !important;
}
.col-lg-8.col-lg-offset-2,
.col-lg-6.col-lg-offset-3 {
  width: 60% !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.chart-table {
  width: 100%;
  text-align: center;
}
.panel {
  font-weight: 700;
  border: 1px solid #3f51b5;
}
.panel-heading {
}
.panel-heading h5 {
  background-color: #03a9f4;
  text-align: center;
  padding: 12px 10px;
  font-size: 25px !important;
  color: #fff !important;
  text-shadow: 1px 1px 3px #232323 !important;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  /* font-style: italic !important; */
  text-transform: uppercase;
}
.button2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  /* font-style: italic !important; */
}
thead tr {
  background-color: #ffc107 !important;
  color: #000;
  /* text-shadow: 1px 1px 2px #9a7400ab; */
  font-style: normal !important;
  font-family: sans-serif;
}
.panel-body {
  padding: 0;
}
.chart-11,
.chart-22,
.chart-33,
.chart-44,
.chart-55,
.chart-66,
.chart-77,
.chart-88,
.chart-99,
.chart-00,
.chart-05,
.chart-50,
.chart-16,
.chart-61,
.chart-27,
.chart-72,
.chart-38,
.chart-83,
.chart-49,
.chart-94,
.chart-\*\* {
  color: red !important;
}
tbody td {
  text-shadow: 1px 1px 2px #ff7d54c7;
  font-style: normal;
  font-family: sans-serif;
}
.panel-info > .panel-heading {
  padding: 0;
}
.panel-chart.chart-table td {
  /* padding: 5px 2px 5px 2px; */
}
.panel-chart.chart-table td h2 {
  font-weight: normal !important;
  margin-top: 6px;
  margin-bottom: 5px;
  font-size: 32px;
}
td p {
  text-shadow: 1px 1px 2px #ff7d54c7 !important;
  font-weight: 400 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
}
.panel-chart.chart-table p:not(.chart-bold) {
  margin: 0;
  font-weight: 700 !important;
  /* font-style: italic !important; */
  font-size: 16px !important;
  text-shadow: none !important;
}
.chart-bold {
  text-shadow: none !important;
  font-size: 28px !important;
  /* font-style: italic !important; */
  font-weight: 700 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
}
div[align*="center"] > div {
  background-color: #fff !important;
  color: red !important;
  font-weight: bold !important;
  font-size: 25px !important;
  text-decoration: none !important;
  border: 4px groove purple !important;
  border-radius: 10px 0 0 0 !important;
  text-shadow: 1px 1px gold !important;
  text-align: center !important;
}
div[align*="center"] > div hr {
  border-top: 2px solid #b2ddff;
  margin: 6px 0 10px;
}
div[align*="center"] > div b font a {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 600;
}
div[align*="center"] > div a {
  color: #007bff !important;
}
div[align*="center"] > div b > span {
  color: red !important;
  font-size: 25px;
  font-weight: 600;
}
.panel-chart.chart-table tbody tr td:first-child {
  font-size: 14px;
}
th {
  font-size: 18px;
  /* text-transform: uppercase; */
  padding: 5px 0 !important;
  font-weight: 700;
  /* font-style: italic; */
  /* text-shadow: 0px 0px 0px #9a7400ab !important; */
}
@media (max-width: 970px) and (min-width: 870px) {
  .chart-bold {
    font-size: 25px !important;
  }
  .panel-chart.chart-table p:not(.chart-bold) {
    font-size: 15px !important;
  }
}
@media (max-width: 870px) and (min-width: 840px) {
  .chart-bold {
    font-size: 24px !important;
  }
  .panel-chart.chart-table p:not(.chart-bold) {
    font-size: 14px !important;
  }
}
@media (max-width: 840px) and (min-width: 800px) {
  .chart-bold {
    font-size: 23px !important;
  }
  .panel-chart.chart-table p:not(.chart-bold) {
    font-size: 13px !important;
  }
}
@media (max-width: 800px) and (min-width: 768px) {
  .chart-bold {
    font-size: 22px !important;
  }
  .panel-chart.chart-table p:not(.chart-bold) {
    font-size: 12px !important;
  }
}
@media (max-width: 768px) {
  .col-lg-8.col-lg-offset-2,
  .col-lg-6.col-lg-offset-3 {
    width: 75% !important;
  }
  .container-fluid {
    display: block;
    width: 100%;
  }
}
@media (max-width: 768px) and (min-width: 720px) {
  .chart-bold {
    font-size: 22px !important;
  }
  .panel-chart.chart-table p:not(.chart-bold) {
    font-size: 12px !important;
  }
}
@media (max-width: 720px) and (min-width: 680px) {
  .chart-bold {
    font-size: 21px !important;
  }
  .panel-chart.chart-table p:not(.chart-bold) {
    font-size: 12px !important;
  }
}
@media (max-width: 680px) and (min-width: 640px) {
  .chart-bold {
    font-size: 21px !important;
  }
  .panel-chart.chart-table p:not(.chart-bold) {
    font-size: 11px !important;
  }
}
@media (max-width: 640px) and (min-width: 600px) {
  .chart-bold {
    font-size: 20px !important;
  }
  .panel-chart.chart-table p:not(.chart-bold) {
    font-size: 11px !important;
  }
}
@media (max-width: 600px) and (min-width: 550px) {
  .chart-bold {
    font-size: 17px !important;
  }
  .panel-chart.chart-table p:not(.chart-bold) {
    font-size: 11px !important;
  }
}
@media (max-width: 550px) and (min-width: 500px) {
  .chart-bold {
    font-size: 15px !important;
  }
  .panel-chart.chart-table p:not(.chart-bold) {
    font-size: 10px !important;
  }
}
@media (max-width: 600px) and (min-width: 550px) {
  .chart-bold {
    font-size: 15px !important;
  }
  .panel-chart.chart-table p:not(.chart-bold) {
    font-size: 11px !important;
  }
}
@media (max-width: 500px) {
  th {
    font-size: 11px;
  }
  tbody tr td:nth-child(2),
  tbody tr td:nth-child(5),
  tbody tr td:nth-child(8),
  tbody tr td:nth-child(11),
  tbody tr td:nth-child(14),
  tbody tr td:nth-child(17),
  tbody tr td:nth-child(20),
  tbody tr td:nth-child(23) {
    font-size: 10px;
  }
  tbody tr td:nth-child(4),
  tbody tr td:nth-child(7),
  tbody tr td:nth-child(10),
  tbody tr td:nth-child(13),
  tbody tr td:nth-child(16),
  tbody tr td:nth-child(19),
  tbody tr td:nth-child(22),
  tbody tr td:nth-child(25),
  tbody tr td:nth-child(28) {
    font-size: 10px;
  }
  .panel-chart.chart-table tbody tr td:first-child {
    font-size: 10px;
  }
  .panel-chart.chart-table td {
    /* padding: 3px 2px !important; */
  }
  .B1 {
    margin-left: 5px;
    margin-right: 5px;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  h2 {
    font-size: 26px;
  }
  table th {
    font-size: 14px;
    /* font-weight: bold; */
  }
  div[align*="center"] > div a {
    font-size: 16px;
    margin-top: 10px;
  }
  div[align*="center"] > div b font a {
    font-size: 25px;
  }
  div[align*="center"] > div b > span {
    font-size: 14px;
  }
  div[align*="center"] > div b > span br {
    display: block;
    margin-bottom: -20px;
    content: "";
  }
  .col-lg-8.col-lg-offset-2,
  .col-lg-6.col-lg-offset-3 {
    width: 100% !important;
  }
  .panel-chart.chart-table td h2 {
    font-weight: normal !important;
    margin-top: -3px;
    margin-bottom: -3px;
    font-size: 28px;
  }
  .panel {
    margin: 0 1px;
  }
  .chart-bold {
    font-size: 13px !important;
  }
  .panel-chart.chart-table p:not(.chart-bold) {
    font-size: 10px !important;
  }
}
@media (max-width: 320px) {
  .panel-chart.chart-table p:not(.chart-bold) {
    font-size: 7px !important;
  }
  th {
    font-size: 13px !important;
  }
}
* {
  transition: all 0.3s;
}
td {
  background-color: #fc9;
  background: #fc9;
}
.logo,
.mrque-div,
.satta-text,
.cm-patti,
.matka-result,
.conta,
.slash-text,
.satta-result,
.paid-gm,
.blue-div,
.red-list > div,
.purpel-header,
.faq,
.disclamer,
.about-us,
.ftr-sm,
.pby-us {
  border: 2px solid #eb008b;
  border-radius: 10px 0 10px 10px;
  margin-bottom: 2px;
  overflow: hidden;
}
.logo img {
  width: 220px;
  height: auto;
  padding: 6px 0 0;
}
.logo img {
  width: 200px;
}
