/* Main Card */
.bet-card{
    max-width:420px;
    margin:auto;
    border-radius:18px;
    background: linear-gradient(145deg,#140b2d,#1e103f);
    box-shadow:
        0 0 25px rgba(157,78,221,.6),
        inset 0 0 20px rgba(0,0,0,.7);
    border:1px solid rgba(199,125,255,.4);
    position:relative;
}

/* Buy Button */
.bet-btn{
    background: linear-gradient(135deg,#ffd166,#ff8800);
    color:#000;
    font-weight:700;
    border:none;
    padding:8px 18px;
    border-radius:12px;
    box-shadow:
        0 0 12px rgba(255,193,7,.9),
        inset 0 -2px 6px rgba(0,0,0,.4);
}
.bet-btn:hover{
    transform: scale(1.05);
}

/* Divider */
.bet-divider{
    border-top:1px dashed rgba(255,255,255,.2);
}

/* Numbers Glow */
.text-warning{
    text-shadow:0 0 10px rgba(255,193,7,.8);
}
.text-success{
    text-shadow:0 0 10px rgba(40,167,69,.8);
}

/* Main Board */
.gamble-board{
    max-width:420px;
    margin:auto;
    background: linear-gradient(180deg,#2d1b69,#120824);
    border-radius:20px;
    padding:16px;
    box-shadow:0 0 30px rgba(157,78,221,.6);
}

/* Total Earning */
.total-box{
    background: linear-gradient(135deg, #14818d, #ffa82d);
    border-radius:16px;
    box-shadow:0 0 5px rgb(255 183 65);
    text-align:left;
}

/* Gold Text */
.text-gold{
    color:#ffffff;
    text-shadow:0 0 15px rgba(255,209,102,.9);
}

/* Stat Boxes */
.stat-box{
    background: linear-gradient(145deg, #09606c, #188e9a);
    border-radius:14px;
    padding:14px;
    box-shadow:0 0 5px rgb(255, 255, 255);
    color:#fff;
}
.stat-box span{
    font-size:13px;
    opacity:.8;
}
.stat-box h2{
    margin-top:6px;
    font-weight:800;
}

/* Neon Numbers */
.text-neon{
    color:#ffffff;
    text-shadow:0 0 15px rgba(255,209,102,.9);
}

.text-primary-custome{
    color:#ffd166;
}

.nk-menu-link{
    color:#ffd166;
}
.active > .nk-menu-link, .nk-menu-item.active > .nk-menu-link .nk-menu-icon,.nk-menu-link:hover .nk-menu-icon{
    color:#fff;
}

.user-avatar{
    background-color: #ffd166 !important;
}
.text-primary{
    color: #ffd166 !important;
}
