/* play page input box css */
.input_5 {
  width: 5%;
}

.input_10 {
  width: 10%;
}

.input_16 {
  width: 16%;
}

.input_20 {
  width: 20%;
}

.input_23 {
  width: 23%;
}

.input_25 {
  width: 25%;
}

.input_30 {
  width: 30%;
}

.input_40 {
  width: 40%;
}

.input_50 {
  width: 50%;
}

.input_60 {
  width: 60%;
}

.input_70 {
  width: 70%;
}

.input_80 {
  width: 80%;
}

.input_90 {
  width: 90%;
}

/* .input_100 {
  width: 100%;
} */

#play_page input {
  border: 1px solid #dbdfea;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 1px;
  height: 30px;
  text-align: center;
}
/* #play_page select {
  border: 1px solid #dbdfea;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 1px;
  height: 30px;
} */

.justify-content {
  justify-content: center !important;
  align-items: center !important;
}
